body{
    background-color: #000000;
    color: rgb(240, 241, 250); 
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 1%;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="none"><path fill="%2369DE19" stroke="%23000" d="M12.5 12.5v2H.5v-2zM26.5 12.5v2h-12v-2zM14.5 11.5h-2V.5h2zM14.5 26.5h-2v-11h2z"/><path fill="%2369DE19" stroke="%23000" d="M15.5 11.5v4h-4v-4z"/></svg>'), auto;

}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; /* Ensure the loader appears above other content */
}

#loading-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading video {
  width: 100%; 
  height: auto;
}

::selection {
  background-color: #69DE19; 
  color: #1c2814;
}

/* For older versions of Firefox */
::-moz-selection {
  background-color: #69DE19; 
  color: #1c2814;
}

a { color: #f0f1fa; outline: none; text-decoration: none !important; font-family: 'Poppins', sans-serif; font-weight: 400;}
a:focus, a:hover {outline: none;}
header { position: relative; width: 100%; display: flex; gap: 12%;z-index: 999; align-items: center;justify-content: space-between;}

header .logo img{width: 400px; height: 72px; }
header .navbar-container{display: inline-flex; align-items: center; gap: 2%;}
header .off-screen-menu ul{list-style-type: none;}

/* off-screen-menu */
.off-screen-menu {
  border-radius: 48px 0 0 48px;
  border: 2px solid rgba(51, 48, 51, 0.5);
  background-color:  rgb(21, 19, 21, 0.5);
  height: 40%;
  width: 100%;
  max-width: 350px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  transition: .3s ease;
}
.off-screen-menu.active {
  right: 0;
  margin: 5%;
}
.off-screen-menu ul li a {
  font-size: 28px;
  font-weight: 480;
}
/* nav */
nav {
  padding: 1rem;
  display: flex;
  background-color: transparent
}

/* ham menu */
.ham-menu {
  height: 50px;
  width: 40px;
  margin-left: auto;
  position: relative;
}
.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: #D7FABF;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: #D7FABF;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.nav-btns {
    position: relative;
    display: inline-flex;
  }
  
.nav-btns button {
    white-space: nowrap;
    border-radius: 8px;
    padding: 10px 20px; font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    cursor: pointer;
    margin: 8% 3%;
    text-align: right;
  }
  
.nav-btns button:hover {
    background-color: #69DE19; 
  }
  
  #register-gamer{
    background-color: #69DE19; 
    border: none; color: #000000; 
  }

  #join-laby{
    border-width: 0.5px;
    border-color:  #69DE19;
    background-color: transparent;
    color: #69DE19; 
  }
  #join-laby-mauve{
    border-width: 0.5px;
    border-color:  #a180ff;
    background-color: transparent;
    color: #a180ff; 
  }


#join-beta{
  background-color: #6A36DF; 
  border: none; color: #f0f1fa;

}

#vertlight-btn{
  background-color: #D7FABF; 
  border: none; color: #000000; 
}

#vertlight-black-btn{
  border-width: 0.5px;
  border-color:  #D7FABF;
  background-color: transparent;
  color: #D7FABF; 
}
.centered-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.landing{
    display: flex;
    margin: 4%;
    gap: 2%;
    justify-content: space-evenly;
}

.landing-img img{  width: 600px;
  height: 600px;}

.bento-parent-container {
  margin: 10% 10% 5% 10%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2%;
}

.bento-header {
  display: grid;
  width: 100%;
}

.grid-container-header {
  display: grid;
  grid-template-columns: 1fr auto;
}

.content {
  grid-column: 1;
  width: 50%;
}
.inline-container .bento-card .center-text p {
  text-align: center;
}
.comingsoon{
  width: fit-content;
  padding: 2% 10%;
  font-size: 12px;
  background-color: #BBFD05;
  border-radius: 12px;
  color: #000000;
  font-weight: 600;
  text-align: center;
  margin-top: 5%;
  margin-right: 10%;
}

.empty-space {
  grid-column: 2;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
}

.pitch-container {
  justify-content: center;
  align-items: center;
}

.title-container{
  margin-left: 5%;
}
.description-container{
  align-items: center;
  margin: 5%;
  text-align: justify;
  justify-content: center;
}
.mixed-container{
  display: flex;
  flex-direction: column;
}

.inline-container{
  display: flex;
  /* gap: 2%; */
  margin: 4%;
  justify-content: space-evenly;
  align-items: left;
}

.third-container {
  display: grid;
  grid-template-columns:  1fr 2fr;
  gap: 2%; 
  margin: 4%;
}

.inline-container {
  grid-column: span 1;
}
.bento-parent-container .third-container{
  margin: 0%; 
}
.bento-card {  
  display: inline-block;
  border-radius: 48px;
  border: 2px solid rgba(51, 48, 51, 0.5);
  /* border: none; */
  vertical-align: top;
  padding: 10%; margin: 1%;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  /* background-color: rgb(21, 19, 21); */
  background: linear-gradient(
    300deg,
    rgba(21, 19, 21, .40),
    rgba(21, 19, 21, 0.5), 70%, 
    rgba(21, 19, 21, 0.80)
  );
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  /* background: rgba( 215, 250, 191, 0.1 ); */
  /* box-shadow: 0 8px 32px 0 rgba( 187, 253, 5, 0.37 ); */
  /* backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  border-radius: 10px; */
}
.bento-card > * {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  margin: 5% 2%; 
}

.inline-container .bento-card{
  padding: 2%; text-align: left;
}
.inline-container .bento-card p {
  padding: 2%; text-align: left;
}

.third-container .bento-card{
  padding: 5%;
}

.bento-card.mauve-border:hover {
  border: 2px solid #9776F0;
}
.bento-card.vertlight-border:hover {
  border: 2px solid #D7FABF;
}
.bento-card.vert-border:hover {
  border: 2px solid #69DE19;
}

/* .bento-card.mauve{background-color: #9776F0; color: #f0f1fa;} */
.bento-card.mauve{background-color: #151315; color: #f0f1fa;}
.bento-card.vert-light {background: #d7fabf; border: none;}
.bento-card.vert-light p {
  color: #1c2814;
}

.bento-card.vert p{
  color: #1c2814;
}
#bento-dark {
  border: 2px solid #5BC116;
}


.bento-card.grey {background-color: #505050;}
.bento-card.grey p {
  color: #f0f1fa;
  text-align: center;
}

.bento-card.video-container{
  background: transparent;
  padding: 0px;
  margin: 0;
}
.bento-card iframe{
  border-radius: 48px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin: 20% 5% 5% 5%;
}

.centered-content {
  text-align: center;
}

.demo-video-container {
  margin-top: 10%;
}

.demo-video-container img {
  display: block; 
  margin: 0 auto;
  border-radius: 48px;
}


/* Footer CSS */
.footer-section {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-top: 10%;
}

.footer-div {
  display: flex;
  flex-direction: row;
}

.logo-div {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer-links{
  display: inline-flex;
  width: 600px;
}

.footer-links .column {
  flex: 1;
  margin: 0 5%;
}

.footer-links .column ul {
  list-style-type: none;
  padding: 0;
}

.footer-links .column ul li {
  margin-bottom: 5px;
}

.footer-social{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-icons{
  justify-content: space-evenly;

}

.social-icons a img{
  width: 24px;height: 24px;

}