body{
    background-color: #000000;
    color: #f0f1fa; 
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    margin: 1%;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" fill="none"><path fill="%2369DE19" stroke="%23000" d="M12.5 12.5v2H.5v-2zM26.5 12.5v2h-12v-2zM14.5 11.5h-2V.5h2zM14.5 26.5h-2v-11h2z"/><path fill="%2369DE19" stroke="%23000" d="M15.5 11.5v4h-4v-4z"/></svg>'), auto;

}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; /* Ensure the loader appears above other content */
}

#loading-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loading video {
  width: 100%; 
  height: auto;
}

::selection {
  background-color: #69DE19; 
  color: #1c2814;
}

/* For older versions of Firefox */
::-moz-selection {
  background-color: #69DE19; 
  color: #1c2814;
}

a { color: #f0f1fa; outline: none; text-decoration: none !important; font-family: 'Poppins', sans-serif; font-weight: 400;}
a:focus, a:hover { color: #69DE19; outline: none; font-weight: 500;}
header { position: relative; width: 100%; display: flex; gap: 12%;z-index: 999; align-items: center;}

header .logo img{width: 400px; height: 72px; }
header .navbar-container{display: inline-flex; align-items: center;}
/* header navbar {font-weight: 500; font-size: 24px; text-align: right; } */
header navbar ul {float: right; display: inline-flex; text-align: left; }
header navbar ul li { list-style: none; margin:20px; position: relative;  }
header navbar ul li a {font-weight: 500; font-size: 24px; text-align: right;}


.nav-btns {
    position: relative;
    display: inline-flex;
  }
  
.nav-btns button {
    white-space: nowrap;
    border-radius: 4px;
    padding: 20px; font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    margin: 8% 3%;
  }
  
.nav-btns button:hover {
    background-color: #69DE19; 
  }
  
  #register-gamer{
    background-color: #69DE19; 
    border: none; color: #000000; 
  }

  #join-laby{
    border-width: 3px;
    border-color:  #69DE19;
    background-color: transparent;
    color: #69DE19; 
  }
  #join-laby-mauve{
    border-width: 3px;
    border-color:  #6A36DF;
    background-color: transparent;
    color: #6A36DF; 
  }


#join-beta{
  background-color: #6A36DF; 
  border: none; color: #f0f1fa;

}
.centered-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

h1 {color: #f0f1fa; font-family: 'Poppins', sans-serif; font-size: 128px; font-weight: 700;}
h2 {color: #f0f1fa; font-family: 'Poppins', sans-serif; font-size: 64px; font-weight: 700; margin: auto;}

p {color: #f0f1fa; font-family: 'Poppins', sans-serif; margin: 4px; padding: 4px; font-size: 20px; font-weight: 400;}

.landing{
    display: flex;
    margin: 4%;
    gap: 2%;
}
.landing .landing-text .landing-big-text{white-space: nowrap;}
.landing .landing-text .landing-small-text p{font-size: 32px;}
.landing-img{  width: 20vw;}

.pitch-container, .demo-container{
  display: flex;
  /* gap: 2%; */
  margin: 4%;
  justify-content: space-evenly;
  align-items: center
}
.bento-header, .demo-container{
  margin: 10% 10% 5% 20%;
  display: flex;
  gap: 5%;
}
.demo-container{
  margin: 10%;
  display: flex;
  gap: 5%;
}
.beta-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10% 15%;
  text-align: center;
}
.row{
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1% 15% 1% 15%;
  width: -webkit-fill-available;
}
.description-container{
  align-items: center;
  margin: 5% 2%;
  text-align: justify;
  justify-content: center;
}
.slider-left,.slider-middle,.slider-right{
  display: block;
}


.bento-card {  
  display: inline-block;
  border-radius: 48px;
  border: none;
  /* justify-content: space-between; */
  align-items: stretch;
  padding: 30px; margin: 1%;
  /* text-align: center; */
  width: -webkit-fill-available;
}

.bento-container-small{
  display: inline-block;
}

.bento-card.mauve{background-color: #9776F0; color: #f0f1fa;}
.bento-card.vert-light {background-color: #D7FABF;}
.bento-card.vert-light p {
  color: #1c2814;
}

.bento-card.vert,
.bento-container-small.bento-card.vert {
  background-color: #5bc116;
}
.bento-card.vert p{
  color: #1c2814;
}
#bento-dark {
  border: 2px solid #5BC116;
}
#bento-mauve-dark {
  border: 2px solid #9776F0;
}

.bento-card.grey {background-color: #505050;}
.bento-card.grey p {
  color: #f0f1fa;
  text-align: center;
}



.bento-font-small{font-size: 32px; font-weight: 500;}
.bento-font-medium{font-size: 40px; font-weight: 700;}
.bento-font-large{font-size: 72px; font-weight: 700;}
.bento-font-largest{font-size: 96px; font-weight: 700;}
.highlight-vert-light{color: #d7fabf; font-weight: 700;}
.highlight-vert{color: #69DE19; font-weight: 700;}
.highlight-mauve{color: #A180FF; font-weight: 700;}
.highlight-purple{color: #7847ff; font-weight: 700;}
.highlight-grey{color: #767474;}
.highlight-grey li a{color: #767474;}
.arrow-open-icon{margin-top: 3%;}
.arrow-open-icon img{width: 38px; height: 38px;}
.bottom-bento-card{display: inline-flex; align-items: center;}
.secondary-action{margin: 4px;}
.secondary-action a {font-size: 24px; color: #6A36DF; font-weight: 600;} 

.demo-video-container{
width: 100%;
}

.demo-video-container img{
border-radius: 48px;  }

input[type="email"] {
  width: 100%;
  padding: 10px; 
  border: 1.5px solid #7847FF;
  border-radius: 48px; 
  box-sizing: border-box;
  font-size: 20px;
  background-color: #000000;
}

input[type="email"]::placeholder {
  color: #f0f1fa; 
  font-family: 'Poppins', sans-serif; font-weight: 400;
}


input[type="email"]:hover {
  border-color: #69DE19; 
  color: #69DE19; 
}


input[type="email"]:focus {
  border-color: #69DE19; 
  color: #69DE19;
}

input[type="email"]::placeholder:hover {
  color: #69DE19; 
}

input[type="email"]::placeholder:focus {
  color: #69DE19; 
}

/* Footer CSS */
.footer-section {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.footer-div {
  display: flex;
  flex-direction: row;
}

.logo-div {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer-links{
  display: inline-flex;
  width: 600px;
}

.footer-links .column {
  flex: 1;
  margin: 0 5%;
}

.footer-links .column ul {
  list-style-type: none;
  padding: 0;
}

.footer-links .column ul li {
  margin-bottom: 5px;
}

.social-icons{
  justify-content: space-evenly;

}

.social-icons a img{
  width: 48px;height: 48px;

}